
.service-left h1{
  line-height: 1;
  text-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
}

.service-left p {
  text-shadow: 1px 1px 3px #bebebe, -1px -1px 3px #ffffff;
}

.service-left .service-buttons button:last-child {
  background-color: #e0e0e0;
}

.service-right .service-item {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-right .service-item:hover {
  transform: translateY(-5px);
  box-shadow: 8px 8px 15px #bebebe, -8px -8px 15px #ffffff;
}

.service-right .service-item:hover .service-content h3,
.service-right .service-item:hover .service-content p,
.service-right .service-item:hover i {
  background: -webkit-linear-gradient(-60deg, #FC466B, #3F5EFB);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.service-right .service-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.service-right .service-item i {
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 1px 3px #bebebe, -1px -1px 3px #ffffff;
  font-size: 90px;
  margin-right: 10px;
  border-radius: 10px; 
}

.service-right .service-item .service-content {
  flex: 1;
}
.service-right .service-item .service-content h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: #333;
  text-shadow: 1px 1px 3px #bebebe, -1px -1px 3px #ffffff;
}
.service-right .service-item .service-content p {
  font-size: 14px;
  margin: 0;
  color: #333;
  text-shadow: 1px 1px 3px #bebebe, -1px -1px 3px #ffffff;
}


.service-group:hover {
  transform: translateY(-5px);
}

/* Keep custom shadows and smooth hover effects */
.service-group i {
  box-shadow: 5px 5px 10px #b8bec5, -5px -5px 10px #ffffff;
  border: 2px solid #ffffff;
  transition: box-shadow 0.3s ease, transform 0.3s ease, background 0.3s ease, color 0.3s ease;
}


.service-group:nth-child(1) i{
  background: linear-gradient(135deg, #F7ACCF, #FF1053); 
}
.service-group:nth-child(2) i{
  background: linear-gradient(135deg, #00c6ff, #0072ff, #ac34f1); 
}
.service-group:nth-child(3) i{
  background: linear-gradient(135deg, #ffcc00, #ff6600, #e56b46); 
}





.services-title.v2 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  color: #e8e8e8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  margin: 0 10px;
}

.rotate {
  align-self: flex-start;
}


.whatido{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  padding: 7px;
}

.whatido .v1{
  color: #e8e8e8; 
  text-shadow: 
    1px 1px 0 #000,  
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}